In [ ]:
qtconsole

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud, ImageColorGenerator
import matplotlib.animation as anim

In [2]:
%matplotlib inline

In [3]:
plt.style.use('seaborn')

Loading CSV:

In [4]:
names = pd.read_csv('names_statedata.csv')

In [5]:
names.head()

  state sex  year      name  number
0    NY   F  1910      Mary    1923
1    NY   F  1910     Helen    1290
2    NY   F  1910      Rose     990
3    NY   F  1910      Anna     951
4    NY   F  1910  Margaret     926

In [6]:
names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6028151 entries, 0 to 6028150
Data columns (total 5 columns):
state     object
sex       object
year      int64
name      object
number    int64
dtypes: int64(2), object(3)
memory usage: 230.0+ MB

In [17]:
namesF = names[names.sex=='F']

In [25]:
namesF.name.unique()

array(['Mary', 'Helen', 'Rose', ..., 'Mckenleigh', 'Laiklyn', 'Loralai'],
      dtype=object)

In [28]:
nametest = 'Rose'
print(namesF[np.logical_and(namesF.name==nametest, namesF.year==1910)].state.unique())
print(namesF[np.logical_and(namesF.name==nametest, namesF.year==2018)].state.unique())

['NY' 'UT' 'KY' 'ND' 'OH' 'SC' 'IL' 'NH' 'MA' 'OK' 'OR' 'MD' 'ID' 'AL'
 'IN' 'IA' 'ME' 'DE' 'CO' 'NM' 'WV' 'NE' 'CT' 'MO' 'TX' 'GA' 'MN' 'CA'
 'SD' 'AZ' 'FL' 'LA' 'DC' 'NC' 'MT' 'KS' 'WA' 'PA' 'AR' 'MI' 'WI' 'NJ'
 'MS' 'HI' 'RI' 'VA' 'TN']
['NY' 'UT' 'KY' 'ND' 'OH' 'SC' 'IL' 'NH' 'VT' 'MA' 'OK' 'OR' 'MD' 'ID'
 'NV' 'AL' 'IN' 'IA' 'ME' 'CO' 'WV' 'NE' 'CT' 'MO' 'WY' 'TX' 'GA' 'MN'
 'CA' 'SD' 'AZ' 'FL' 'LA' 'DC' 'NC' 'MT' 'KS' 'WA' 'PA' 'AR' 'MI' 'WI'
 'NJ' 'MS' 'HI' 'RI' 'VA' 'TN']